<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SystemHealthCheck</vendor>
  <action id="io.github.systemhealthcheck.SystemHealthCheck.helper">
    <description>Run allowlisted SystemHealthCheck diagnostics as root</description>
    <message>Authentication is required to read hardware diagnostics (SMART, dmidecode, lshw, kernel log) or to make a change you confirmed.</message>
    <icon_name>io.github.systemhealthcheck.SystemHealthCheck</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/SystemHealthCheck</annotate>
  </action>
</policyconfig>
